<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056257003845-0j9af09g8e6u4au5mp8tul4eebftse9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056257003845-0j9af09g8e6u4au5mp8tul4eebftse9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBgwkhIYDNeQ4LF5ciuGSQJ23uGvLiupE0</string>
	<key>GCM_SENDER_ID</key>
	<string>1056257003845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>explormahahual.com.examenIOS</string>
	<key>PROJECT_ID</key>
	<string>examenios-f8491</string>
	<key>STORAGE_BUCKET</key>
	<string>examenios-f8491.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056257003845:ios:0165e9da0003e2adaf6e2c</string>
	<key>DATABASE_URL</key>
	<string>https://examenios-f8491-default-rtdb.firebaseio.com</string>
</dict>
</plist>